<a href="https://colab.research.google.com/github/swarthyPig/Raspberry-Pi_DHT22_Weather_Station_with_correlation-and-ML/blob/master/data%20mining/merge_dataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
from pandas import DataFrame
import numpy as np


th = pd.read_json("http://203.241.246.114:3030/th")
cr = pd.read_json("http://203.241.246.114:3030/cr_value/cr")

iot_th = th[['date', 'temperature', 'humidity']]
iot_cr = cr[['date', 'cr']]

In [0]:
'''
ths와 crs가 담긴 테이터 프레임을 date를 기준으로 outer방식으로 병합한다 
'''
iot_data = pd.merge(iot_th, iot_cr, on='date', how="outer") 
iot_data.set_index('date',inplace=True) # date를 열로 설정한다

iot_data = iot_data.sort_values(['date'], ascending=[True]) # date를 기준으로 오름차순 정렬

# 온도 습도 값 계산을 위해 형변환
iot_data['temperature'] = pd.to_numeric(iot_data['temperature'])
iot_data['humidity'] = pd.to_numeric(iot_data['humidity'])


idx = list(np.where(iot_data['cr'] > 0 )[0])  # cr값이 0보다 큰값에 대한 인덱스 반환


length = len(idx)
for i in range(0,length):
    
    idx_num = idx[i]
    
    # 인덱스를 -1,1로 하면 연속으로 NaN이 있는 부분에서 에러발생. 3초마다 나오는 온도 습도 값의 차이가 거의 없으므로 -1,-2 인덱스로 계산
    iot_data['temperature'].iloc[idx_num] = round((iot_data['temperature'].iloc[idx_num-1] + iot_data['temperature'].iloc[idx_num-2])/2,2)
    iot_data['humidity'].iloc[idx_num] = round((iot_data['humidity'].iloc[idx_num-1] + iot_data['humidity'].iloc[idx_num-2])/2,2)

# 계산이 끝난후 다시 String으로 형변환
iot_data['temperature'] = iot_data['temperature'].astype(str) 
iot_data['humidity'] = iot_data['humidity'].astype(str) 
iot_data['cr'] = iot_data['cr'].astype(str)

iot_data = iot_data.iloc[idx] # 전처리가 완료된 데이터 프레임으로 변경

iot_data.to_csv("iot_data.csv", mode='w') # export csv

iot_data

                        temperature humidity   cr
date
2019-04-30 17:25:31.206        21.4     52.2  4.0
2019-04-30 17:33:52.584       22.55     50.6  5.0
2019-04-30 17:34:08.626        22.5     50.5  4.0
2019-04-30 17:52:38.253        21.9    53.45  5.0
2019-04-30 17:52:51.432        21.9     53.5  5.0
2019-04-30 17:52:57.665        21.9     53.6  5.0
2019-04-30 17:53:01.775        21.9     53.1  5.0
2019-04-30 17:53:04.359        21.9    53.25  5.0
2019-04-30 17:53:12.644        21.9    53.25  5.0
2019-04-30 17:53:12.653        21.9    53.52  5.0
2019-04-30 17:53:12.663        21.9    53.39  5.0
2019-04-30 17:53:12.670        21.9    53.46  5.0
2019-04-30 17:53:12.676        21.9    53.42  5.0
2019-04-30 17:53:12.682        21.9    53.44  5.0
2019-04-30 17:53:23.739        21.9     53.3  5.0
2019-04-30 17:55:55.046        21.9     54.4  5.0
2019-04-30 17:55:58.749        21.9    54.55  5.0
2019-04-30 18:03:32.762        22.3     54.0  5.0
2019-04-30 18:14:28.299        22.4    53.65  5.0
2019-04-30 18:15:05.588        22.4    53.95  5.0
2019-04-30 18:18:42.330        22.5     53.9  4.0
2019-04-30 18:21:19.323        22.6     53.7  3.0
2019-04-30 18:21:36.495        22.6     53.7  5.0
2019-04-30 18:21:36.740        22.6     53.7  3.0
2019-04-30 18:21:36.857        22.6     53.7  3.0
2019-04-30 18:21:42.206        22.6    53.25  3.0
2019-04-30 18:21:52.589        22.6    53.45  5.0
2019-04-30 18:22:03.227        22.6     53.7  5.0
2019-04-30 18:22:03.501        22.6     53.7  4.0
2019-04-30 18:22:03.519        22.6     53.7  3.0
...                             ...      ...  ...
2019-05-07 18:57:14.049        23.1    41.56  5.0
2019-05-07 18:57:15.811        23.1    41.53  5.0
2019-05-07 18:57:17.301        23.1    41.56  5.0
2019-05-07 18:57:19.631        23.1    41.53  5.0
2019-05-07 18:57:21.226        23.1    41.52  5.0
2019-05-07 18:57:22.571        23.1    41.61  5.0
2019-05-07 18:57:29.522        23.1     41.6  5.0
2019-05-07 18:57:29.792        23.1    41.65  4.0
2019-05-07 18:57:34.025        23.1    41.55  3.0
2019-05-07 18:57:38.616        23.1    41.58  5.0
2019-05-07 18:57:38.743        23.1    41.59  5.0
2019-05-07 18:57:40.239        23.1     41.6  5.0
2019-05-07 18:57:41.434        23.1     41.6  5.0
2019-05-07 18:57:42.466        23.1     41.6  5.0
2019-05-07 18:57:42.618        23.1     41.6  5.0
2019-05-07 18:57:43.846        23.1     41.5  5.0
2019-05-07 18:57:47.383        23.1     41.6  5.0
2019-05-07 18:57:51.417        23.1    41.65  5.0
2019-05-07 18:57:56.490        23.1     41.6  5.0
2019-05-07 18:58:44.968        23.1     41.6  5.0
2019-05-07 18:58:44.976        23.1     41.6  5.0
2019-05-07 18:59:15.834        23.1     41.6  5.0
2019-05-07 18:59:27.694        23.1    41.65  5.0
2019-05-07 19:00:02.096        23.1     40.9  5.0
2019-05-07 19:00:04.784        23.1     41.2  5.0
2019-05-07 19:00:07.225        23.1    41.45  5.0
2019-05-07 19:00:43.393        23.1    41.55  4.0
2019-05-07 19:01:22.389        23.1     41.6  4.0
2019-05-07 20:32:54.705        22.6     40.7  3.0
2019-05-07 22:52:43.990        23.3    37.15  3.0

[155 rows x 3 columns]

In [0]:
iot_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 155 entries, 2019-04-30 17:25:31.206000 to 2019-05-07 22:52:43.990000
Data columns (total 3 columns):
temperature    155 non-null object
humidity       155 non-null object
cr             155 non-null object
dtypes: object(3)
memory usage: 4.8+ KB